* {
    margin: 0px;
    padding: opx;
    font-family: Arial, Helvetica, sans-serif;
    border: border box;
}
/* BLOCK-1 */
.navbar {
    height: 60px;
    background-color: hsl(168, 93%, 12%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* BOX-1 */
.logo {

    background-size: cover;
    height: 50px;
    width: 100;
}
.logo i{
    font-size: 45px;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

/* BOX-2 */
.address-1 {
    color: #ccc;
    font-size: 0.75rem;
    font-weight: 400;
    margin-left: 15px;
}

.address-2 {
    font-size: 1rem;
    font-weight: 700;
    margin: 3px;

}

.add-icon {
    display: flex;
    align-items: center;
}

/* Box-3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: #aa065e;
    width: 900px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.search-icon:hover {
    background-color: #89034b;
    border-radius: 4px;

}

/* BOX-4 */
span {
    font-size: 0.85rem;
}

.nav-first {
    font-size: 1rem;
    font-weight: 700;

}

/* BOX-5 */
.nav-return span {
    font-size: 0.85rem;
}

.nav-second {
    font-size: 1rem;
    font-weight: 700;
}

/*  Box-6 */
.nav-cart {
    font-size:0.85 ;
    font-weight: 700;
    
}
.nav-cart i {
    font-size: 30px;
}


/* Block-2 */
.panel {
    height: 40px;
    background-color: hsl(168, 96%, 18%);
    color: white;
    display: flex;
    align-items: center;
}

.panel-ops p {
    display: inline;
    text-align: center;
    margin-left:13px;
    font-size: 0.9rem;
    font-weight: 500;
}

.panel-all{
    margin-left: 20px;
}
.border-2{
    border: 1px solid transparent;
}
.border-2:hover{
    border: 1px solid white; 
    height:50px;
}

/* HERO-SECTION */
.hero-section {
    background-image: url('../amazon-img/small gift/hero-image.jpg');
    background-size: cover;
    height:480px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color:black;
    height:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.9rem;
    width:97%;
    margin-bottom: 175px;
}

.hero-msg a{
    color:#007185;
}
.hero-msg a:hover{
    color:brown;
    text-decoration: underline;
}

/* BLOCK-3 */
.main{
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(230, 227, 227);
    justify-content: space-evenly;
}
.box {
    border:none;
    height: 370px;
    width:23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top: -150px;
    
}
 .box img {
    margin-left: 10px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 263px;
}
#home-essential img{
    margin-left: 40px;
    height: 263px;

}

.box h2{
    margin-left:10px;
}
.box p{
    margin-left: 10px;
    margin-top: 15px;
}

.box p{
    color: #007185;
    font-size:14px;
    margin-left:10px;
}
.box p:hover{
    color:brown;
}
    
/* Block-4 */
  .main-1{
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(230, 227, 227);
    justify-content: space-evenly;
 }
.box-1 {
    border:none;
    height: 370px;
    width:23%;
    background-color: white;
    padding:23px 0px 15px;
    margin-top: 20px;
    
}
 .box-1 img {
    margin-left: 10px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 263px;
}
#kitchen-appliance img{
    margin-left: 40px;
    height: 263px;
}
#gaming-accessories img{
    margin-left: 40px;
    height: 263px;
}
#Fashion img{
    margin-left: 70px;
    height: 263px;

}

.box-1 h2{
    margin-left:10px;
}
.box-1 p{
    margin-left: 10px;
    margin-top: 15px;
}

.box-1 p{
    color: #007185;
    font-size:14px;
    margin-left:10px;
}
.box-1 p:hover{
    color:brown;
}

/* BLOCK-5 */
.main-3{
    flex-wrap: wrap;
    background-color: rgb(230, 227, 227);
    
}
 .box-3 {
  
   background-color: white;
   border:none;
   height:270px;
   width:96.8%;
   margin:auto;
   border-top:20px solid  rgb(230, 227, 227);
   
}

#special-holiday{
    display: flex;
    padding-top :20px ;
    padding-left:10px;
} 
#special-holiday p{
    color:#007185;
    padding-left: 30px;
    padding-top:6px;
}
#special-holiday p:hover{
    color:brown;
}     
.container {
   display: flex;
   justify-content: space-evenly;
   padding-top:15px;
}

/* Block-6*/
 .main-4{
    background-color: rgb(230, 227, 227);
}
 .box-4 {
   background-color: white;
   border:none;
   height:285px;
   width:96.8%;
   margin:auto;
   /* border-top:20px solid  rgb(230, 227, 227);*/
 }
#toys{
    display: flex;
    padding-top :20px ;
    padding-left:10px;
} 
#toys p{
    color:#007185;
    padding-left: 30px;
    padding-top:6px;
}
#toys p:hover{
    color:brown;
}     
.container-1 {
   display: flex;
   justify-content: space-evenly;
   padding-top:15px;
}
/* BLOCK-7 */
.main-5{
    background-color: rgb(230, 227, 227) ;
}
.container-3 {
    padding-top:20px;
    border-top:20px solid rgb(230, 227, 227);
    background-color: white;
    height:285px;
    width:96.4%;
    margin:auto;
    padding-left:10px;
}
.box-5{
  display: flex;
  justify-content: space-evenly;
  padding-top:25px;
}